# File reading and date cleaning

In [1]:
import pandas as pd
import numpy as np
import re
df = pd.read_excel(r"C:\Users\Vanessa\Downloads\Dados\Programas\Repositório Git\NGO_DataAnalysis\pipeline trials\excel_exemplo.xls",index_col = None)

In [2]:
# add "month" and "year" columns
month = df.iloc[0,1].month
year = df.iloc[0,1].year
data = str(year) + '-' + str(month) + '-' + '01'
df['data'] = pd.to_datetime(data)
df.drop(df.index[0:3], inplace = True)

In [3]:
df.dropna(axis = 1, inplace = True, how = 'all')

In [4]:
df

,Balancete Mensal - OBA - ORGANIZAÇÃO BEM-ANIMAL - PARA ÁTICO CONTABILIDADE,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 7,data
3,2,350.00,Doações,363.00,Ração - Agropecuaria 101,"4,467.23",2016-09-01
4,2,NaN,NaN,10.00,Combust.Posto S. Cristovão,"4,457.23",2016-09-01
5,2,NaN,NaN,143.57,Combust.Posto Shark,"4,313.66",2016-09-01
6,2,NaN,NaN,50.00,Saque no TAA,"4,263.66",2016-09-01
7,2,NaN,NaN,"4,260.00",Salário - Ieda Maria + Aliment,3.66,2016-09-01
8,5,360.00,Doações,80.00,Combust.Auto PostoN.Camp.,283.66,2016-09-01
9,5,NaN,NaN,12.90,Dupão - Alimentação,270.76,2016-09-01
10,5,NaN,NaN,40.00,Saque no TAA,230.76,2016-09-01
11,5,NaN,NaN,63.00,Tarifa bancária,167.76,2016-09-01
12,6,140.00,Doações,269.00,Ração - Alexandre Pessoa,38.76,2016-09-01
13,6,NaN,NaN,15.00,Combust.Posto Marquinho,23.76,2016-09-01
14,8,440.00,Doações,20.00,Saque no TAA,443.76,2016-09-01
15,9,120.00,NaN,413.00,Ração - Alexandre Pessoa,150.76,2016-09-01
16,9,NaN,NaN,13.00,Medicamento-AlexandrePes,137.76,2016-09-01
17,12,510.00,Doações,360.00,Ração - Alexandre Pessoa,287.76,2016-09-01
18,12,NaN,NaN,100.00,Combust.Posto Camarão,187.76,2016-09-01
19,12,NaN,NaN,100.00,Saque no TAA,87.76,2016-09-01
20,12,NaN,NaN,82.50,Mariana Poeta,5.26,2016-09-01
21,13,10.00,Doações,NaN,NaN,15.26,2016-09-01
22,14,70.00,Doações,10.00,Saque no TAA,75.26,2016-09-01
23,15,100.00,Doações,39.90,Ração - Agrop. S Bernardo,135.36,2016-09-01
24,15,NaN,NaN,70.00,Saque no TAA,65.36,2016-09-01
25,16,230.00,Doações,290.00,Mariana Poeta,5.36,2016-09-01
26,19,170.00,Doações,100.00,Combust.Posto S. Cristovão,75.36,2016-09-01
27,19,216.97,Cielo Vendas Débito,144.00,Ração - Alexandre Pessoa,148.33,2016-09-01
28,19,NaN,NaN,120.00,Saque no TAA,28.33,2016-09-01
29,20,250.00,Doações,140.00,Ração - Agropecuaria 101,138.33,2016-09-01
30,20,"10,580.04",Auto Pista Litoral Sul,NaN,NaN,"10,718.37",2016-09-01
31,21,110.00,Doações,92.20,Ração - Agropecuaria DANDE,"10,736.17",2016-09-01
32,21,NaN,NaN,450.00,SaqueTAA-PgtoNotasPendent,"10,286.17",2016-09-01
33,21,NaN,NaN,"10,000.00",Clínica VeterináriaArgemiro,286.17,2016-09-01
34,21,NaN,NaN,8.60,Tarifa TED acima,277.57,2016-09-01
35,22,300.00,Doações,212.90,Ração - Agropecuaria 101,364.67,2016-09-01
36,22,NaN,NaN,100.00,Saque no TAA,264.67,2016-09-01
37,26,120.00,Doações,100.00,Combust. Alesat Auto Posto,284.67,2016-09-01
38,26,NaN,NaN,200.00,SaqueTAA-PgtoNotasPendent,84.67,2016-09-01
39,27,100.00,Doações,30.00,Combust. Posto Angeloni,154.67,2016-09-01
40,27,NaN,NaN,15.00,Mônica Aparecida,139.67,2016-09-01
41,28,40.00,Doações,100.00,Combust.Posto Shark,79.67,2016-09-01
42,28,NaN,NaN,54.90,Arcadia,24.77,2016-09-01
43,29,865.00,Doações,900.00,SaqueTAA-PgtoNotasPendent,- 10.23,2016-09-01
44,29,"2,000.00",Empréstimo efetuado por:,440.00,DaianaMachado-MídiaSocial,"1,549.77",2016-09-01
45,29,NaN,Antônio Adulino martendal,8.60,Tarifa - TED acima,"1,541.17",2016-09-01
46,30,110.00,Doações,NaN,NaN,"1,651.17",2016-09-01
47,30,NaN,NaN,213.90,Ração - Agropecuaria 101,"1,437.27",2016-09-01
48,30,NaN,NaN,475.00,Banco Itaú - SLK PANDA-2ª P,962.27,2016-09-01

In [5]:
# reorder columns and drop unwanted rows 
df.columns = ['dia', 'receita', 'depositante', 'despesas', 'favorecido', 'saldo', 'data']
df = df[['receita', 'depositante', 'despesas', 'favorecido', 'data']]
df

,receita,depositante,despesas,favorecido,data
3,350.00,Doações,363.00,Ração - Agropecuaria 101,2016-09-01
4,NaN,NaN,10.00,Combust.Posto S. Cristovão,2016-09-01
5,NaN,NaN,143.57,Combust.Posto Shark,2016-09-01
6,NaN,NaN,50.00,Saque no TAA,2016-09-01
7,NaN,NaN,"4,260.00",Salário - Ieda Maria + Aliment,2016-09-01
8,360.00,Doações,80.00,Combust.Auto PostoN.Camp.,2016-09-01
9,NaN,NaN,12.90,Dupão - Alimentação,2016-09-01
10,NaN,NaN,40.00,Saque no TAA,2016-09-01
11,NaN,NaN,63.00,Tarifa bancária,2016-09-01
12,140.00,Doações,269.00,Ração - Alexandre Pessoa,2016-09-01
13,NaN,NaN,15.00,Combust.Posto Marquinho,2016-09-01
14,440.00,Doações,20.00,Saque no TAA,2016-09-01
15,120.00,NaN,413.00,Ração - Alexandre Pessoa,2016-09-01
16,NaN,NaN,13.00,Medicamento-AlexandrePes,2016-09-01
17,510.00,Doações,360.00,Ração - Alexandre Pessoa,2016-09-01
18,NaN,NaN,100.00,Combust.Posto Camarão,2016-09-01
19,NaN,NaN,100.00,Saque no TAA,2016-09-01
20,NaN,NaN,82.50,Mariana Poeta,2016-09-01
21,10.00,Doações,NaN,NaN,2016-09-01
22,70.00,Doações,10.00,Saque no TAA,2016-09-01
23,100.00,Doações,39.90,Ração - Agrop. S Bernardo,2016-09-01
24,NaN,NaN,70.00,Saque no TAA,2016-09-01
25,230.00,Doações,290.00,Mariana Poeta,2016-09-01
26,170.00,Doações,100.00,Combust.Posto S. Cristovão,2016-09-01
27,216.97,Cielo Vendas Débito,144.00,Ração - Alexandre Pessoa,2016-09-01
28,NaN,NaN,120.00,Saque no TAA,2016-09-01
29,250.00,Doações,140.00,Ração - Agropecuaria 101,2016-09-01
30,"10,580.04",Auto Pista Litoral Sul,NaN,NaN,2016-09-01
31,110.00,Doações,92.20,Ração - Agropecuaria DANDE,2016-09-01
32,NaN,NaN,450.00,SaqueTAA-PgtoNotasPendent,2016-09-01
33,NaN,NaN,"10,000.00",Clínica VeterináriaArgemiro,2016-09-01
34,NaN,NaN,8.60,Tarifa TED acima,2016-09-01
35,300.00,Doações,212.90,Ração - Agropecuaria 101,2016-09-01
36,NaN,NaN,100.00,Saque no TAA,2016-09-01
37,120.00,Doações,100.00,Combust. Alesat Auto Posto,2016-09-01
38,NaN,NaN,200.00,SaqueTAA-PgtoNotasPendent,2016-09-01
39,100.00,Doações,30.00,Combust. Posto Angeloni,2016-09-01
40,NaN,NaN,15.00,Mônica Aparecida,2016-09-01
41,40.00,Doações,100.00,Combust.Posto Shark,2016-09-01
42,NaN,NaN,54.90,Arcadia,2016-09-01
43,865.00,Doações,900.00,SaqueTAA-PgtoNotasPendent,2016-09-01
44,"2,000.00",Empréstimo efetuado por:,440.00,DaianaMachado-MídiaSocial,2016-09-01
45,NaN,Antônio Adulino martendal,8.60,Tarifa - TED acima,2016-09-01
46,110.00,Doações,NaN,NaN,2016-09-01
47,NaN,NaN,213.90,Ração - Agropecuaria 101,2016-09-01
48,NaN,NaN,475.00,Banco Itaú - SLK PANDA-2ª P,2016-09-01

# Categories classification

In [6]:
# create "expenses" dataframe and drop nulls
expenses = df[['despesas', 'favorecido', 'data']].copy()
expenses.dropna(subset = 'despesas', axis = 0, inplace=True)
expenses.reset_index(drop = True, inplace = True)
expenses

     despesas                      favorecido       data
0      363.00        Ração - Agropecuaria 101 2016-09-01
1       10.00      Combust.Posto S. Cristovão 2016-09-01
2      143.57             Combust.Posto Shark 2016-09-01
3       50.00                    Saque no TAA 2016-09-01
4    4,260.00  Salário - Ieda Maria + Aliment 2016-09-01
5       80.00       Combust.Auto PostoN.Camp. 2016-09-01
6       12.90             Dupão - Alimentação 2016-09-01
7       40.00                    Saque no TAA 2016-09-01
8       63.00                 Tarifa bancária 2016-09-01
9      269.00        Ração - Alexandre Pessoa 2016-09-01
10      15.00         Combust.Posto Marquinho 2016-09-01
11      20.00                    Saque no TAA 2016-09-01
12     413.00        Ração - Alexandre Pessoa 2016-09-01
13      13.00        Medicamento-AlexandrePes 2016-09-01
14     360.00        Ração - Alexandre Pessoa 2016-09-01
15     100.00           Combust.Posto Camarão 2016-09-01
16     100.00                    Saque no TAA 2016-09-01
17      82.50                   Mariana Poeta 2016-09-01
18      10.00                    Saque no TAA 2016-09-01
19      39.90       Ração - Agrop. S Bernardo 2016-09-01
20      70.00                    Saque no TAA 2016-09-01
21     290.00                   Mariana Poeta 2016-09-01
22     100.00      Combust.Posto S. Cristovão 2016-09-01
23     144.00        Ração - Alexandre Pessoa 2016-09-01
24     120.00                    Saque no TAA 2016-09-01
25     140.00        Ração - Agropecuaria 101 2016-09-01
26      92.20      Ração - Agropecuaria DANDE 2016-09-01
27     450.00       SaqueTAA-PgtoNotasPendent 2016-09-01
28  10,000.00     Clínica VeterináriaArgemiro 2016-09-01
29       8.60                Tarifa TED acima 2016-09-01
30     212.90        Ração - Agropecuaria 101 2016-09-01
31     100.00                    Saque no TAA 2016-09-01
32     100.00      Combust. Alesat Auto Posto 2016-09-01
33     200.00       SaqueTAA-PgtoNotasPendent 2016-09-01
34      30.00         Combust. Posto Angeloni 2016-09-01
35      15.00                Mônica Aparecida 2016-09-01
36     100.00             Combust.Posto Shark 2016-09-01
37      54.90                         Arcadia 2016-09-01
38     900.00       SaqueTAA-PgtoNotasPendent 2016-09-01
39     440.00       DaianaMachado-MídiaSocial 2016-09-01
40       8.60              Tarifa - TED acima 2016-09-01
41     213.90        Ração - Agropecuaria 101 2016-09-01
42     475.00     Banco Itaú - SLK PANDA-2ª P 2016-09-01

In [7]:
# create "income" dataframe and drop nulls
income = df[['receita', 'depositante', 'data']].copy()
income.dropna(subset = 'receita', axis = 0, inplace=True)
income.reset_index(drop = True, inplace = True)
income

      receita               depositante       data
0      350.00                   Doações 2016-09-01
1      360.00                   Doações 2016-09-01
2      140.00                   Doações 2016-09-01
3      440.00                   Doações 2016-09-01
4      120.00                       NaN 2016-09-01
5      510.00                   Doações 2016-09-01
6       10.00                   Doações 2016-09-01
7       70.00                   Doações 2016-09-01
8      100.00                   Doações 2016-09-01
9      230.00                   Doações 2016-09-01
10     170.00                   Doações 2016-09-01
11     216.97       Cielo Vendas Débito 2016-09-01
12     250.00                   Doações 2016-09-01
13  10,580.04    Auto Pista Litoral Sul 2016-09-01
14     110.00                   Doações 2016-09-01
15     300.00                   Doações 2016-09-01
16     120.00                   Doações 2016-09-01
17     100.00                   Doações 2016-09-01
18      40.00                   Doações 2016-09-01
19     865.00                   Doações 2016-09-01
20   2,000.00  Empréstimo efetuado por: 2016-09-01
21     110.00                   Doações 2016-09-01

In [8]:
# create categories for income

mask = income['depositante'].str.contains('doaç|ração|v.d.|\d|DD|cielo|cielo|pag|pic', regex = True, flags = re.I)
doa = np.where(mask, 'doações e vendas', income['depositante'])
income.loc[:,'depositante'] = doa

mask2 = income['depositante'].str.contains('empr|apli|resg|rend', regex = True, flags = re.I)
emp = np.where(mask2, 'empréstimos e aplicações', income['depositante'])
income.loc[:,'depositante'] = emp

mask3 = income['depositante'].str.contains('Pista', regex = True, flags = re.I)
proj = np.where(mask3, 'projeto Autopista Litoral Sul', income['depositante'])
income.loc[:,'depositante'] = proj

mask4 = income['depositante'].str.contains('justiça|PMF ', regex = True, flags = re.I)
gov = np.where(mask4, 'governo', income['depositante'])
income.loc[:,'depositante'] = gov

mask5 = income['depositante'].str.contains('div|tran|int|seguro|rog|BB|dif', regex = True, flags = re.I)
out = np.where(mask5, 'outros', income['depositante'])
income.loc[:,'depositante'] = out

In [9]:
# create categories for 'expenses'

mask = expenses['favorecido'].str.contains('sal|intercamb|alim|lanch|temperinho|rest|pão|café|panif|doce|confeitaria|subway|gratificação|sabor|hong ju|mansa', flags = re.I)
sal = np.where(mask, 'salários e auxílios alimentação', expenses['favorecido'])
expenses.loc[:,'favorecido'] = sal

mask2 = expenses['favorecido'].str.contains('sup|super|hiper|hipper|mercado|bistek|milium|embala|atacad|cassol|agua|distrib|loja|zeus|comerc', flags = re.I)
sup = np.where(mask2, 'suprimentos', expenses['favorecido'])
expenses.loc[:,'favorecido'] = sup

mask3 = expenses['favorecido'].str.contains('medic|clínica|clinica|vet|remédio|farm|biofilia|gral|asamed|pet|cuidados|panvel|acupuntura|raio x|praiana|castração|tosa|cremat', flags = re.I)
medic = np.where(mask3, 'medicações e veterinário', expenses['favorecido'])
expenses.loc[:,'favorecido'] = medic

mask4 = expenses['favorecido'].str.contains('hosp|poeta|lilian ribeiro|lar|cuidadora|casa|canil|canis|inse', flags = re.I)
hosp = np.where(mask4, 'hospedagem e manutenção de canis', expenses['favorecido'])
expenses.loc[:,'favorecido'] = hosp

mask5 = expenses['favorecido'].str.contains('agro|ração|reção|pecuária|terra|arcadia', flags = re.I)
rac = np.where(mask5, 'ração e agropecuária', expenses['favorecido'])
expenses.loc[:,'favorecido'] = rac

mask7 = expenses['favorecido'].str.contains('combust|escap|posto|seguro|veíc|motorista|car|borrack|park|auto|taxi|táxi|tàxi|frete|motor|estac|floripeças|multa|mecanica|mecânica|mecãnica|parachoque|borrach|estrela|localiza', flags = re.I)
trans = np.where(mask7, 'transporte', expenses['favorecido'])
expenses.loc[:,'favorecido'] = trans

mask6 = expenses['favorecido'].str.contains('camis|malhas|mat|jebelus|agenda|vest|patchwork|plumas|bazar|graf|gráf|digital|mtools|eletr|hd|site|notebook|face|cópias|copia|plot|mídia|chip|marca|mix|print', flags = re.I)
vend = np.where(mask6, 'bazar, divulgação e tecnologias', expenses['favorecido'])
expenses.loc[:,'favorecido'] = vend

mask8 = expenses['favorecido'].str.contains('empr|apli|renda', flags = re.I)
emp = np.where(mask8, 'empréstimos e aplicações', expenses['favorecido'])
expenses.loc[:,'favorecido'] = emp

mask9 = expenses['favorecido'].str.contains('tarif|INSS|IR|taxa|IPVA|DARF|celesc|tim|distrit|alvará|cadastro|licen|trib|certif|dss|cmf', flags = re.I)
tax = np.where(mask9, 'taxas, tarifas e impostos', expenses['favorecido'])
expenses.loc[:,'favorecido'] = tax

outros_mask = ~(expenses['favorecido'].isin(['salários e auxílios alimentação', 'suprimentos', 'medicações e veterinário', 'hospedagem e manutenção de canis', 'ração e agropecuária', 'bazar, divulgação e tecnologias', 'transporte', 'empréstimos e aplicações', 'taxas, tarifas e impostos']))
expenses.loc[outros_mask,'favorecido'] = "outros"

In [10]:
#converting data types
expenses['despesas'] = expenses['despesas'].astype(str).str.strip()
expenses['despesas'] = expenses['despesas'].str.replace(',', '')
expenses['despesas'] = expenses['despesas'].astype(float)
income['receita'] = income['receita'].astype(str).str.strip()
income['receita'] = income['receita'].str.replace(',', '')
income['receita'] = income['receita'].astype(float)
expenses['data'] = expenses['data'].astype(str)
income['data'] = income['data'].astype(str)

In [11]:
expenses['favorecido'].value_counts()

outros                              13
ração e agropecuária                11
transporte                           9
taxas, tarifas e impostos            3
salários e auxílios alimentação      2
medicações e veterinário             2
hospedagem e manutenção de canis     2
bazar, divulgação e tecnologias      1
Name: favorecido, dtype: int64

In [12]:
income['depositante'].value_counts()

doações e vendas                 20
projeto Autopista Litoral Sul     1
empréstimos e aplicações          1
Name: depositante, dtype: int64

0     2016-09-01
1     2016-09-01
2     2016-09-01
3     2016-09-01
4     2016-09-01
5     2016-09-01
6     2016-09-01
7     2016-09-01
8     2016-09-01
9     2016-09-01
10    2016-09-01
11    2016-09-01
12    2016-09-01
13    2016-09-01
14    2016-09-01
15    2016-09-01
16    2016-09-01
17    2016-09-01
18    2016-09-01
19    2016-09-01
20    2016-09-01
21    2016-09-01
22    2016-09-01
23    2016-09-01
24    2016-09-01
25    2016-09-01
26    2016-09-01
27    2016-09-01
28    2016-09-01
29    2016-09-01
30    2016-09-01
31    2016-09-01
32    2016-09-01
33    2016-09-01
34    2016-09-01
35    2016-09-01
36    2016-09-01
37    2016-09-01
38    2016-09-01
39    2016-09-01
40    2016-09-01
41    2016-09-01
42    2016-09-01
Name: data, dtype: object

# Full script

In [13]:
# add "month" and "year" columns
month = df.iloc[0,1].month
year = df.iloc[0,1].year
data = str(year) + '-' + str(month) + '-' + '01'
df['data'] = pd.to_datetime(data)
df.drop(df.index[0:3], inplace = True)

# reorder columns and drop unwanted rows 
df.columns = ['dia', 'receita', 'depositante', 'despesas', 'favorecido', 'saldo', 'data']
df = df[['receita', 'depositante', 'despesas', 'favorecido', 'data']]

# create "expenses" dataframe and drop nulls
expenses = df[['despesas', 'favorecido', 'data']].copy()
expenses.dropna(subset = 'despesas', axis = 0, inplace=True)
expenses.reset_index(drop = True, inplace = True)

# create "income" dataframe and drop nulls
income = df[['receita', 'depositante', 'data']].copy()
income.dropna(subset = 'receita', axis = 0, inplace=True)
income.reset_index(drop = True, inplace = True)

# create categories for 'expenses'

mask = expenses['favorecido'].str.contains('sal|intercamb|alim|lanch|temperinho|rest|pão|café|panif|doce|confeitaria|subway|gratificação|sabor|hong ju|mansa', flags = re.I)
sal = np.where(mask, 'salários e auxílios alimentação', expenses['favorecido'])
expenses.loc[:,'favorecido'] = sal

mask2 = expenses['favorecido'].str.contains('sup|super|hiper|hipper|mercado|bistek|milium|embala|atacad|cassol|agua|distrib|loja|zeus|comerc', flags = re.I)
sup = np.where(mask2, 'suprimentos', expenses['favorecido'])
expenses.loc[:,'favorecido'] = sup

mask3 = expenses['favorecido'].str.contains('medic|clínica|clinica|vet|remédio|farm|biofilia|gral|asamed|pet|cuidados|panvel|acupuntura|raio x|praiana|castração|tosa|cremat', flags = re.I)
medic = np.where(mask3, 'medicações e veterinário', expenses['favorecido'])
expenses.loc[:,'favorecido'] = medic

mask4 = expenses['favorecido'].str.contains('hosp|poeta|lilian ribeiro|lar|cuidadora|casa|canil|canis|inse', flags = re.I)
hosp = np.where(mask4, 'hospedagem e manutenção de canis', expenses['favorecido'])
expenses.loc[:,'favorecido'] = hosp

mask5 = expenses['favorecido'].str.contains('agro|ração|reção|pecuária|terra|arcadia', flags = re.I)
rac = np.where(mask5, 'ração e agropecuária', expenses['favorecido'])
expenses.loc[:,'favorecido'] = rac

mask7 = expenses['favorecido'].str.contains('combust|escap|posto|seguro|veíc|motorista|car|borrack|park|auto|taxi|táxi|tàxi|frete|motor|estac|floripeças|multa|mecanica|mecânica|mecãnica|parachoque|borrach|estrela|localiza', flags = re.I)
trans = np.where(mask7, 'transporte', expenses['favorecido'])
expenses.loc[:,'favorecido'] = trans

mask6 = expenses['favorecido'].str.contains('camis|malhas|mat|jebelus|agenda|vest|patchwork|plumas|bazar|graf|gráf|digital|mtools|eletr|hd|site|notebook|face|cópias|copia|plot|mídia|chip|marca|mix|print', flags = re.I)
vend = np.where(mask6, 'bazar, divulgação e tecnologias', expenses['favorecido'])
expenses.loc[:,'favorecido'] = vend

mask8 = expenses['favorecido'].str.contains('empr|apli|renda', flags = re.I)
emp = np.where(mask8, 'empréstimos e aplicações', expenses['favorecido'])
expenses.loc[:,'favorecido'] = emp

mask9 = expenses['favorecido'].str.contains('tarif|INSS|IR|taxa|IPVA|DARF|celesc|tim|distrit|alvará|cadastro|licen|trib|certif|dss|cmf', flags = re.I)
tax = np.where(mask9, 'taxas, tarifas e impostos', expenses['favorecido'])
expenses.loc[:,'favorecido'] = tax

outros_mask = ~(expenses['favorecido'].isin(['salários e auxílios alimentação', 'suprimentos', 'medicações e veterinário', 'hospedagem e manutenção de canis', 'ração e agropecuária', 'bazar, divulgação e tecnologias', 'transporte', 'empréstimos e aplicações', 'taxas, tarifas e impostos']))
expenses.loc[outros_mask,'favorecido'] = "outros"

# create categories for income

mask = income['depositante'].str.contains('doaç|ração|v.d.|\d|DD|cielo|cielo|pag|pic', regex = True, flags = re.I)
doa = np.where(mask, 'doações e vendas', income['depositante'])
income.loc[:,'depositante'] = doa

mask2 = income['depositante'].str.contains('empr|apli|resg|rend', regex = True, flags = re.I)
emp = np.where(mask2, 'empréstimos e aplicações', income['depositante'])
income.loc[:,'depositante'] = emp

mask3 = income['depositante'].str.contains('Pista', regex = True, flags = re.I)
proj = np.where(mask3, 'projeto Autopista Litoral Sul', income['depositante'])
income.loc[:,'depositante'] = proj

mask4 = income['depositante'].str.contains('justiça|PMF ', regex = True, flags = re.I)
gov = np.where(mask4, 'governo', income['depositante'])
income.loc[:,'depositante'] = gov

mask5 = income['depositante'].str.contains('div|tran|int|seguro|rog|BB|dif', regex = True, flags = re.I)
out = np.where(mask5, 'outros', income['depositante'])
income.loc[:,'depositante'] = out

#converting data types
expenses['despesas'] = expenses['despesas'].astype(str).str.strip()
expenses['despesas'] = expenses['despesas'].str.replace(',', '')
expenses['despesas'] = expenses['despesas'].astype(float)
income['receita'] = income['receita'].astype(str).str.strip()
income['receita'] = income['receita'].str.replace(',', '')
income['receita'] = income['receita'].astype(float)
expenses['data'] = expenses['data'].astype(str)
income['data'] = income['data'].astype(str)

AttributeError: 'str' object has no attribute 'month'